<p id="notice"><%= notice %></p>

<h1>Rooms</h1>




    <% @rooms.each do |room| %>
      <div class="room-container">
        <div class="r-name">
        <%= room.name %>
        <div class="r-image"> </div>
      </div>

      <div class="r-left">
      <div class="r-user">
        <h5>Details</h5>

      </div>
      <div class="r-details">
        <div class="r-desc">
        <p>Owned By: <%= room.user.firstname %></p>
          <%= room.description %>
        </div>
        <div class="r-bools">
        <div class="r-bools-left">
        Accomodates: <%= room.accommodates %>
        Bathrooms: <%= room.bathroom %>
        </div>
        <div class="r-bools-right">
        Kitchen: <%= room.kitchen %>
        Wifi<%= room.internet %>
        Pets allowed: <%= room.pets %>
      </div>
      </div>
        <div class="r-price"><%= room.price %></div>
      </div>


      </div>
    </div>

      <%= link_to 'Show', room %>
      <%= link_to 'Edit', edit_room_path(room) %>
      <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>


<br>

<%= link_to 'New Room', new_room_path %>
