<p id="notice"><%= notice %></p>

<div class="shroom-container">
  <div class="r-name">
  <%= @room.name %>
  <div class="r-image">
      <%= image_tag @room.avatar, style: "width: 100%; height: auto; padding: 5px;" %>
     </div>
     <div class="r-bools">
     <div class="r-bools-left">
     <p>Accomodates: <%= @room.accommodates %></p>
     <p>Bathrooms: <%= @room.bathroom %></p>
     </div>
     <div class="r-bools-right">
     <p>Kitchen: <%= @room.kitchen %></p>
     <p>Wifi: <%= @room.internet %></p>
     <p>Pets allowed: <%= @room.pets %></p>
   </div>
   <div class="r-price">$<%= @room.price %> a night</div>
   </div>
</div>

<div class="shr-left">
<div class="r-user">
  <h5>Details</h5>

</div>
<div class="r-details">
  <div class="shr-desc">
  <p>Owned By: <%= @room.user.firstname %></p>
    <%= @room.description %>
  </div>
  <div class="r_photos">
    <%= image_tag @room.avatar, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image1, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image2, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image3, style: "width: 150px; height: auto; padding: 5px; float: left;" %>


</div>


</div>
<div class="button-container">

<%= link_to  edit_room_path(@room) do %>
<div class="default-button">Edit</div>
<%end%>

<%= link_to  @room, method: :delete, data: { confirm: 'Are you sure?' } do %>
<div class="default-button">Delete</div>
<%end%>
</div>
</div>
</div>
