<p id="notice"><%= notice %></p>

<div class="shroom-container">
  <div class="r-name">
  <%= @room.name %>
  <div class="r-image">
      <%= image_tag @room.avatar, style: "width: 100%; height: auto; padding: 5px;" %>
     </div>
     <div class="r-bools">
     <div class="r-bools-left">
     Accomodates: <%= @room.accommodates %>
     Bathrooms: <%= @room.bathroom %>
     </div>
     <div class="r-bools-right">
     Kitchen: <%= @room.kitchen %>
     Wifi<%= @room.internet %>
     Pets allowed: <%= @room.pets %>
   </div>
   <div class="r-price"><%= @room.price %></div>
   </div>
</div>

<div class="shr-left">
<div class="r-user">
  <h5>Details</h5>

</div>
<div class="r-details">
  <div class="shr-desc">
  <p>Owned By: <%= @room.user.firstname %></p>
    <%= @room.description %>
  </div>
  <div class="r_photos">
    <%= image_tag @room.avatar, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image1, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image2, style: "width: 150px; height: auto; padding: 5px; float: left;" %>
    <%= image_tag @room.image3, style: "width: 150px; height: auto; padding: 5px; float: left;" %>       


</div>


</div>
</div>

<%= link_to 'Show', @room %>
<%= link_to 'Edit', edit_room_path(@room) %>
<%= link_to 'Destroy', @room, method: :delete, data: { confirm: 'Are you sure?' } %>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', @rooms_path %>
